set_io clk12 J3
set_io fpga_ad0_out  T14
set_io fpga_aclk_out T15
set_io fpga_afs_out  T16
set_io dsp_ad0_in    N10
set_io dsp_aclk_in   T11
set_io dsp_afs_in    T13
set_io tx            B12
set_io run     R10
set_io led B5
