set_io clk12 J3
set_io fpga_ad0_out[0]  T14
set_io fpga_aclk_out[0] T15
set_io fpga_afs_out[0]  T16
set_io fpga_ad0_out[1]  P8
set_io fpga_aclk_out[1] P9
set_io fpga_afs_out[1]  T8
set_io dsp_ad0_in[0]    N10
set_io dsp_aclk_in[0]   T11
set_io dsp_afs_in[0]    T13
set_io dsp_ad0_in[1]    R5
set_io dsp_aclk_in[1]   T5
set_io dsp_afs_in[1]    R9
set_io tx               B12
set_io run     R10
set_io led B5
